html {
  scroll-behavior: smooth;
  
  
}

* {
    box-sizing: border-box;
    
}


body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background: #111111;*/
    background: #11111125;
}


a::selection {
  background-color: #ffbc04cc; /* cambia color de los a seleccionados*/
 
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3.5em 1fr 50px;
    min-height: 98vh;
    grid-template-areas: 
    "header header header"
    "main main main" 
    "footer footer footer";
         
    
}





.header {
    display: flex;
    background: #111111;
    grid-area: header;
    flex-direction: row;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 900;
    

    
    
    
}



.logo_redes {
  filter: invert(1);
  width: 1.5em;
  

}

.liredes {
  margin: 0;
  padding: 0.3em;
  color: #111111;
  cursor: pointer;

}

.ulnav_redes {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-left: 3vw; /*ver que no cause errores*/
  
}

.logo {
  filter: invert(1);
  width: auto; /*ver que quede bien el loguito con el "auto"*/
  height: 7em;
  flex-wrap: wrap;
  /*transition-duration: 0.7s;*/ /*para el hover*/
  aspect-ratio: 457/314;
  animation: nav-movil linear both ;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
    
}



@keyframes nav-movil {
  to {
    height: 50px;
    
  }
}

/*para anim hover*/
/*.logo:hover {      
  height: 9em;
  aspect-ratio: 457/314;
  
}*/


.nav {
  color: #f2f2f2;
  /*width: 98vw;*/
  margin-top: -0.20em;
  font-family: "Quicksand";
  font-weight: 300;
  

}

.ulnav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-right: 3vw; /*ver que no cause errores*/
  
}

.linav {
  margin: 0;
  padding: 0.3em;
  color: #111111;
}

.links {
  text-decoration: none;
  color: #f2f2f2;
  cursor: pointer;
}

.linav:hover{
  color: #fff;
  transition-duration: 0.5s;
  border-bottom: #f2f2f2 solid 0.5px;

}

/*.container aside {
    background-color: yellow;
    grid-area: aside;
}
*/
.main {
  
   grid-area: main;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   flex-direction: column;
   
   
        
    
}




.video_inicio {
   margin-top: 5em;
           

}

.video_inicio:hover {
  box-shadow: 0px 1px 7px 0px rgba(242, 242, 242, 0.5);

}



.titulos_secciones {
 color:#f2f2f2;
 font-family: "Anybody";
 font-weight: 900;
 font-size: 2em;
 /*background-color: rgba(2, 29, 54, 0.342);*/
 /*background: linear-gradient(to right, #373b44, #4286f4);*/
 width: 100%;
 text-align: center;
 display: inline-block;
 position: relative;
 
 
}

.titulos_secciones::after {
  content: "";
  position: absolute;
  left: 50%; /* Coloca el subrayado en el centro horizontal */
  transform: translateX(-50%); /* Centra el subrayado */
  bottom: -0.2em; /* Controla la distancia del subrayado al texto */
  width: 30em; /* Ocupa todo el ancho disponible */
  height: 4px; /* Grosor del subrayado */
  background: linear-gradient(to right, #11111100, #4286f4, #11111100); /* Color del subrayado */
  
}

.player_spotify {
  width: 33em;
  padding: 2em 0 4em 0;
  
}

.box-videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: 2em ;
  
}


.videos {
  width: 25em;
  
  
  
    
}

.videos:hover {
  box-shadow: 0px 1px 7px 0px rgba(242, 242, 242, 0.5);
  
}


.ul-sec-contact {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.li-sec-contact {
  margin: 0;
  padding: 0.3em;
  color: #111111;
  cursor: pointer;
}

.logos-contact {
  filter: invert(1);
  width: 3em;
  transition: 0.2s;
    
}

.logos-contact:hover {
  width: 3.5em;
}

.links {
  text-decoration: none;
  color: #f2f2f2;
  cursor: pointer;
}


.container footer {
    display: flex;
    background-color: rgb(83, 172, 32);
    grid-area: footer;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}


  
footer {
  font-family: Gruppo;
  font-size: 20px;
}
  
/*/////////////////////////////////////////////////////////////////////*/
@media (max-width: 768px) {

  
  .header {
    justify-content: center; /*space-bet*/    
    width: 100vw;
    
}



.logo_redes {
  width: 0px;
  
}

.liredes {
  width: 0px;

}

.redes {
  width: 0px;
}

.ulnav_redes {
  width: 0px;
  
}



.nav {
  width: 0px;
  

}

.ulnav {
  width: 0px;
  
}

.linav {
  width: 0px;
  
}


.linav:hover{
  width: 0px;

}

.links {
  display: none;
  width: 0px;
}



  /*//////////////////////////////////////////////////////////*/
  .iframe_videos {
    width: 300px;
  }

  .videos {
    width: 300px;
          
  }

  .player_spotify {
    width: 300px;
    padding: 1em 0 1em 0;
    
  }


  .titulos_secciones::after {
    width: 100%;
    
  }
  

}